<!DOCTYPE html>
<html>
<link rel="shortcut icon" type="image/x-icon"
      href="http://git.oschina.net/imflyn/CloudStorage/raw/master/ourea.ico?dir=0&filepath=ourea.ico&oid=6a0ae4015d232957eb2ebb5081f67520a0f54b8c&sha=c504dcc8f5dbc19341b380227c530fe5feb03c76"
      media="screen"/>
<style type="text/css">
    img.pic {
        max-width: 750px;
        max-height: 1334px;
    }

    body {
        background: #DCDDDF url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
        color: #000;
        font: 14px Arial;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <title>帮助</title>
</head>
<body>
<h3>下载乐动力,将你的乐动力与微信帐号绑定</h3>
<img class="pic" style="width:100%;"
     src="http://git.oschina.net/imflyn/CloudStorage/raw/master/wsteps/image/img_help4.png?dir=0&filepath=wsteps/image/img_help4.png&oid=a033f4fc472e9e89cf84d2e58459085ba7d65a2f&sha=b3a7d125a7ccff54b849747e5c22330126445521">

<h3>在微信乐动力公众帐号中可以看到排行榜</h3>
<img class="pic" style="width:100%;"
     src="http://git.oschina.net/imflyn/CloudStorage/raw/master/wsteps/image/img_help2.png?dir=0&filepath=wsteps/image/img_help2.png&oid=13f3f5f2e106cfa40562f8c911fca55103b5aa7f&sha=c1ca453328b54f1d56ccd278eb642cd8441f0a40">

<h3>接下来就可以打开本站</h3><a href="http://ourea.sinaapp.com/steps">http://ourea.sinaapp.com/steps</a>

<h3>输入你在乐动力中的ID号和想要修改的步数即可(ps:一定要比微信中原来的步数大)</h3>
<img class="pic" style="width:100%;"
     src="http://git.oschina.net/imflyn/CloudStorage/raw/master/wsteps/image/img_help.jpg?dir=0&filepath=wsteps/image/img_help.jpg&oid=a72696bf622baf7dbd604c9b9d28757de7b60ea2&sha=6bcedbd2dd07e7bbba1aee735c1d6520b7da81ec">

<h3>之后就可以为所欲为了^_^</h3>
<img class="pic" style="width:100%;"
     src="http://git.oschina.net/imflyn/CloudStorage/raw/master/wsteps/image/img_help3.png?dir=0&filepath=wsteps/image/img_help3.png&oid=ab4929c05fe6c396f7615da6df26588c86819ae5&sha=03ea4c2cd9368aea5c8bf215f60327571c7b02cb">
<br>
<a href="http://git.oschina.net/imflyn/CloudStorage/raw/master/wsteps/apk/wsteps.apk?dir=0&filepath=wsteps/apk/wsteps.apk&oid=95306948080213cafc354530987980c13d53bc9c&sha=03ea4c2cd9368aea5c8bf215f60327571c7b02cb
">微信运动改步神器安卓版下载地址</a>
</body>
</html>