<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <link rel="shortcut icon" type="image/x-icon"
          href="http://git.oschina.net/imflyn/CloudStorage/raw/master/ourea.ico?dir=0&filepath=ourea.ico&oid=6a0ae4015d232957eb2ebb5081f67520a0f54b8c&sha=c504dcc8f5dbc19341b380227c530fe5feb03c76"
          media="screen"/>
    <style type="text/css">
        img.pic {
            max-width: 362px;
            max-height: 292px;
        }

        body {
            background: #DCDDDF url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
            color: #000;
            font: 14px Arial;
            margin: 0 auto;
            padding: 0;
            position: relative;
        }
    </style>
    <title>微信运动改步神器</title>
</head>
<body>
<div>
    <h4>修改成功,快去微信看看吧。</h4>
    <img class="pic" style="width:100%;" src="http://m2.quanjing.com/2m/bld009/bld092466.jpg">

</div>
</body>
</html>
